<div class="text-white mt-48 max-w-screen-md ml-10">
  <h1 class="text-6xl font-semibold leading-normal">
    "Where Goodwill Meets Greatness:
    <span class="font-light"> Connecting Developers and Investors" </span>
  </h1>

  <p class="font-semibold">
    Unleash your project's potential. Find the funding you need. Invest in the
    future you believe in.
  </p>

  <div class="mt-10">
    <a
      href=""
      class="bg-blue-900 rounded-3xl py-3 px-8 font-medium inline-block mr-4 hover:bg-blue-400 transition ease-in-out duration-300"
      >Invest Now</a
    >
    <a href=""
      >Search project <span class="text-lg inline-block">&#10148;</span></a
    >
  </div>
</div>

<div
  class=""
  style="background-image: url('https://i.postimg.cc/QCP1yqZf/4957136.jpg')"
></div>

<img src="https://i.postimg.cc/QCP1yqZf/4957136.jpg" class="w-full xl:w-1/2 xl:absolute bottom-0 right-20">
<div class="text-white mt-48 max-w-screen-md ml-10">
  <h1 class="text-6xl font-semibold leading-normal">
    "Where Goodwill Meets Greatness:
    <span class="font-light"> Connecting Developers and Investors" </span>
  </h1>

  <p class="font-semibold">
    Unleash your project's potential. Find the funding you need. Invest in the
    future you believe in.
  </p>

  <div class="mt-10">
    <a
      href=""
      class="bg-blue-900 rounded-3xl py-3 px-8 font-medium inline-block mr-4 hover:bg-blue-400 transition ease-in-out duration-300"
      >Invest Now</a
    >
    <a href=""
      >Search project <span class="text-lg inline-block">&#10148;</span></a
    >
  </div>
</div>

<div
  class=""
  style="background-image: url('https://i.postimg.cc/QCP1yqZf/4957136.jpg')"
></div>

<img src="https://i.postimg.cc/QCP1yqZf/4957136.jpg" class="w-full xl:w-1/2 xl:absolute bottom-0 right-20">
<div class="text-white mt-48 max-w-screen-md ml-10">
  <h1 class="text-6xl font-semibold leading-normal">
    "Where Goodwill Meets Greatness:
    <span class="font-light"> Connecting Developers and Investors" </span>
  </h1>

  <p class="font-semibold">
    Unleash your project's potential. Find the funding you need. Invest in the
    future you believe in.
  </p>

  <div class="mt-10">
    <a
      href=""
      class="bg-blue-900 rounded-3xl py-3 px-8 font-medium inline-block mr-4 hover:bg-blue-400 transition ease-in-out duration-300"
      >Invest Now</a
    >
    <a href=""
      >Search project <span class="text-lg inline-block">&#10148;</span></a
    >
  </div>
</div>

<div
  class=""
  style="background-image: url('https://i.postimg.cc/QCP1yqZf/4957136.jpg')"
></div>

<img src="https://i.postimg.cc/QCP1yqZf/4957136.jpg" class="w-full xl:w-1/2 xl:absolute bottom-0 right-20">
<div class="text-white mt-48 max-w-screen-md ml-10">
  <h1 class="text-6xl font-semibold leading-normal">
    "Where Goodwill Meets Greatness:
    <span class="font-light"> Connecting Developers and Investors" </span>
  </h1>

  <p class="font-semibold">
    Unleash your project's potential. Find the funding you need. Invest in the
    future you believe in.
  </p>

  <div class="mt-10">
    <a
      href=""
      class="bg-blue-900 rounded-3xl py-3 px-8 font-medium inline-block mr-4 hover:bg-blue-400 transition ease-in-out duration-300"
      >Invest Now</a
    >
    <a href=""
      >Search project <span class="text-lg inline-block">&#10148;</span></a
    >
  </div>
</div>

<div
  class=""
  style="background-image: url('https://i.postimg.cc/QCP1yqZf/4957136.jpg')"
></div>

<img src="https://i.postimg.cc/QCP1yqZf/4957136.jpg" class="w-full xl:w-1/2 xl:absolute bottom-0 right-20">
<div class="text-white mt-48 max-w-screen-md ml-10">
  <h1 class="text-6xl font-semibold leading-normal">
    "Where Goodwill Meets Greatness:
    <span class="font-light"> Connecting Developers and Investors" </span>
  </h1>

  <p class="font-semibold">
    Unleash your project's potential. Find the funding you need. Invest in the
    future you believe in.
  </p>

  <div class="mt-10">
    <a
      href=""
      class="bg-blue-900 rounded-3xl py-3 px-8 font-medium inline-block mr-4 hover:bg-blue-400 transition ease-in-out duration-300"
      >Invest Now</a
    >
    <a href=""
      >Search project <span class="text-lg inline-block">&#10148;</span></a
    >
  </div>
</div>

<div
  class=""
  style="background-image: url('https://i.postimg.cc/QCP1yqZf/4957136.jpg')"
></div>

<img src="https://i.postimg.cc/QCP1yqZf/4957136.jpg" class="w-full xl:w-1/2 xl:absolute bottom-0 right-20">